Description=Fetch videos from Birdsy and upload them to Google Drive
Requires=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/apps/birdsy-1d-sync
ExecStart=/home/ubuntu/.pyenv/versions/py3.10/bin/python streamlit_app.py
Restart=always

[Install]
WantedBy=multi-user.target
