Description=Fetch videos from Birdsy and upload them to Google Drive
Requires=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<birdsy-1d-sync_dir_location>
ExecStart=<streamlit_bin_location> run streamlit_app.py --server.headless=true --server.port=<streamlit_app_port> --browser.gatherUsageStats=false
Restart=always

[Install]
WantedBy=multi-user.target
